table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid white; /* Optional: Add a border to separate grid cells */
  }
  
  /* Style the table cells */
  td, th {
    border: 1px solid white; /* Optional: Add cell borders */
    padding: 8px;
    text-align: center;
  }
  
  /* Set the background color to black */
  body {
    background-color: black;
  }
  
  /* Set the text color to yellow */
  td, th, h1 , h2, h3 {
    color: yellow;
  }

  h1 , h2 , h3 {
    text-align: center;
  }

 /* Style for the search box */
#searchInput {
  width: 70%;            /* Set the width as desired */
  padding: 10px;         
  margin: 0 auto 20px;   /* Auto margin for horizontal centering and margin below */
  border: 2px solid white; 
  background-color: black;
  color: yellow;
  font-size: 16px;
  display: block;        /* Make sure the input is a block-level element */
}

/* Adjust the placeholder color */
#searchInput::placeholder {
  color: #ccc;
  text-align: center;
}

